.tab_content
  - if users.nil?
    Empty
  - else
    %h4 Total: #{users.count}
    %table{:style => "width: 100%"}
      %tr
        %td ID
        %td Name
        %td Events ctreated
        %td Events followed
        %td Ban
        %td X
      - users.each do |u|
        %tr
          %td= u.id
          %td= link_to full_name(u), user_path(u)
          %td= u.products.count
          %td= u.events.count
          %td= ban_button(u)
          %td= link_to 'x', u, method: :delete