.hello_form
  .sub_header
    Edit
  = form_for @user do |f|
    .form-group.line
      = f.label :name, class: 'col-sm-2 control-label margin_label'
      .col-sm-10
        = f.text_field :name, autofocus: true, class: 'form-control'
    .form-group.line
      = f.label :surname, class: 'col-sm-2 control-label margin_label'
      .col-sm-10
        = f.text_field :surname, class: 'form-control'
    .form-group.line
      = f.label :email, class: 'col-sm-2 control-label margin_label'
      .col-sm-10
        = f.email_field :email, class: 'form-control'
    .form-group.line
      = f.label :birthday, class: 'col-sm-2 control-label margin_label'
      .col-sm-10.date-select
        = f.date_select(:bday, start_year: 1940, end_year: Time.now.year)
    .form-group.line
      = f.label :gender, class: 'col-sm-2 control-label margin_label'
      .col-sm-10
        = radio_button("user", "gender", "Male")
        = label_tag :gender, "Male"
        = radio_button("user", "gender", "Female")
        = label_tag :gender, "Female"
        = radio_button("user", "gender", "NA")
        = label_tag :gender, "Not sure"
    .form-group.line
      = f.label :country, class: 'col-sm-2 control-label margin_label'
      .col-sm-10
        = f.country_select :country, priority: %w(BY RU UA), prompt: 'Please select a country'
    .form-group.line
      = f.label :city, class: 'col-sm-2 control-label margin_label'
      .col-sm-10
        = render partial: 'subregion_select', locals: {parent_region: f.object.country}
    .form-group.line
      = f.label :phone, class: 'col-sm-2 control-label margin_label'
      .col-sm-10
        = telephone_field("user", "phone", class: 'form-control')
    .form-group.line
      = f.label :hobby, class: 'col-sm-2 control-label'
      .col-sm-10
        = f.text_area :hobby, class: 'form-control margin_area'
    .form-group.line
      = f.label :about, class: 'col-sm-2 control-label'
      .col-sm-10
        = f.text_area :about, class: 'form-control margin_area'
    .form-group.line
      = f.label :password, class: 'col-sm-2 control-label margin_label'
      .col-sm-10
        = f.password_field :password, autocomplete: "off", class: 'form-control margin_area'
    .form-group.line
      = f.label :avatar, class: 'col-sm-2 control-label'
      .col-sm-10
        = f.file_field :avatar
    .form-group.line
      = f.label :tags, class: 'col-sm-2 control-label margin_label'
      .col-sm-10
        = f.select :tags, options_from_collection_for_select(Tag.all, :name, :name, @user.tags.collect { |t| t.name }), {}, { class: 'js-example-tokenizer form-control margin_area', multiple: true }
    .pagin_box
      = f.submit "Update", class: "btn btn-confirm"