.user_avatar
  = image_tag(@user.avatar.url(:medium))
  .user_edit
    = edit_user_button
.user_info
  .col-1
    Name:
  .col-2
    = @user.name
  .col-1
    Surname:
  .col-2
    = @user.surname
  .col-1
    Email:
  .col-2
    = @user.email
  .col-1
    Birthday:
  .col-2
    = @user.bday
  .col-1
    Age:
  .col-2
    = age(@user.bday)
  .col-1
    Gender:
  .col-2
    = @user.gender
  .col-1
    Country:
  .col-2
    = country_name(@user)
  .col-1
    City:
  .col-2
    = city_name(@user)
  .col-1
    Phone:
  .col-2
    - @user.phones.each do |p|
      = phones_info(p)
      %br
  .col-1
    Hobby:
  .col-2.text_area
    = @user.hobby
  .col-1
    About:
  .col-2.text_area
    = @user.about
  .col-1
    Tags:
  .col-2
    = tags_list(@user.tags)
.divider
.sub_header
  All events
%ul.nav.nav-pills.nav-justified#tabs_nav_bar
  %li.active
    %a{"data-toggle" => "tab", href: "#future"} Future events
  %li
    %a{"data-toggle" => "tab", href: "#past"} Past events
.tab-content
  #future.tab-pane.fade.in.active
    = render partial: 'events_tab', locals: {events: @events_f}
    .pagin_box
      = paginate @events_f, param_name: :events_f unless @events_f.nil?
  #past.tab-pane.fade
    = render partial: 'events_tab', locals: {events: @events_p}
    .pagin_box
      = paginate @events_p, param_name: :events_p unless @events_f.nil?