%br
  = image_tag(@user.avatar.url(:thumb), class: 'img-circle')
  %br
    = @user.name
    %br
      = @user.surname
      %br
        = @user.email
        %br
          %h2 Your events
          %table
            %tr{:align => "center"}
              %td Name:
              %td Gender:
              %td Type:
              %td Description:
            - @user.events.each do |e|
              %tr{:align => "center"}
                %td= link_to e.name, event_path(e)
                %td= e.gender
                %td= e.etype
                %td= e.description
                %td= link_to "unfollow", unfollow_event_path(e)