.user_avatar
  = image_tag(@user.avatar.url(:medium))
  .user_edit
    = edit_button
.user_info
  .col-1
    Name:
  .col-2
    = @user.name
  .col-1
    Surname:
  .col-2
    = @user.surname
  .col-1
    Email:
  .col-2
    = @user.email
  .col-1
    Birthday:
  .col-2
    = @user.bday
  .col-1
    Age:
  .col-2
    = age(@user.bday)
  .col-1
    Gender:
  .col-2
    = @user.gender
  .col-1
    Country:
  .col-2
    = @user.country_ unless @user.country.nil?
  .col-1
    City:
  .col-2
    = @user.city_ unless @user.city.nil?
  .col-1
    Phone:
  .col-2
    = @user.phone
  .col-1
    Hobby:
  .col-2.text_area
    = @user.hobby
  .col-1
    About:
  .col-2.text_area
    = @user.about
  .col-1
    Tags:
  .col-2
    = tags_list(@user.tags)
.divider
.sub_header
  All events
- @events.each do |e|
  .event_header
    = link_to e.name, event_path(e)
  .event_el
    .wrapper_1
      .auth_img
        = image_tag(e.owners.first.avatar.url(:thumb))
      .wrapper_2
        .event_desc
          = e.description
        .wrapper_3
          .event_date
            = e.date
            = e.time.strftime("%H:%M")
          .event_adr
            = e.location
          .event_tags
            = tags_list(e.tags)
    .event_img
      = image_tag(e.photo.url(:thumb))
.pagin_box
  = paginate @events