.hello_form
  %h2 Forgot your password?
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    .form-group.line
      = f.label :email, class: 'col-sm-2 control-label margin_label'
      .col-sm-10
        = f.email_field :email, placeholder: "Email", autofocus: true, class: 'form-control'
    .form-group.line
      .col-sm-offset-2.col-sm-10
        = f.submit "Send me reset password instructions", class: 'btn btn-default'
.hello_form.sign_with
  = render "devise/shared/links"