%h1 Edit event
= form_for @event do |e|
  .form-group
    = e.label :name, class: "col-sm-1 control-label"
    .col-sm-2
      = e.text_field :name, autofocus: true, class: 'form-control'
  %br
  %br
  .form-group
    = e.label :date, class: "col-sm-1 control-label"
    .col-sm-2
      = e.date_select :date, class: 'form-control'
  %br
  .form-group
    = e.label :time, class: "col-sm-1 control-label"
    .col-sm-2
      = e.time_select :time, class: 'form-control'
    %br
  .form-group
    = e.label :description, class: "col-sm-1 control-label"
    .col-sm-2
      = e.text_field :description, class: 'form-control'
    %br
  .form-group
    = e.label :gender, class: 'col-sm-1 control-label'
    .col-sm-2
      = radio_button("user", "gender", "Male")
      = label_tag :gender, "Male"
      = radio_button("user", "gender", "Female")
      = label_tag :gender, "Female"
      = radio_button("user", "gender", "NA")
      = label_tag :gender, "Not sure"
    %br
  .form-group
    = e.label :number, class: 'col-sm-1 control-label'
    .col-sm-2
      = e.number_field :number, class: 'form-control'
    %br
  .form-group
    = e.label :age, class: 'col-sm-1 control-label'
    .col-sm-1
      = e.number_field :agemin, class: 'form-control'
    .col-sm-1
      = e.number_field :agemax, class: 'form-control'
    %br
  .form-group
    = e.label :etype, class: 'col-sm-1 control-label'
    .col-sm-3
      = radio_button("event", "etype", "Party")
      = label_tag :etype, "Party"
      = radio_button("event", "etype", "Sport")
      = label_tag :etype, "Sport"
      = radio_button("event", "etype", "Music")
      = label_tag :etype, "Music"
      = radio_button("event", "etype", "Fashion")
      = label_tag :etype, "Fashion"
      = radio_button("event", "etype", "NA")
      = label_tag :etype, "Not sure"
    %br
  .form-group
    = e.label :photo, class: "col-sm-1"
    .col-sm-2
      = e.file_field :photo
    %br
  = e.submit "Save", class: "btn btn-primary"
