.hello_form
  .sub_header
    Serach events
  = search_form_for @q do |f|
    .form-group.line
      = f.label :name_cont, 'Name: ', class: 'col-sm-2 control-label margin_label'
      .col-sm-10
        = f.search_field :name_cont, class: 'form-control'
    .form-group.line
      = f.label :date_gteq, 'Date: ', class: 'col-sm-2 control-label margin_label'
      .col-sm-10
        = f.date_select(:date_gteq, start_year: Time.now.year, end_year: Time.now.year + 5)
    .form-group.line
      = f.label :gender_eq, 'Gender: ', class: 'col-sm-2 control-label margin_label'
      .col-sm-10
        = f.radio_button :gender_eq, 'male'
        = label_tag :gender_eq, 'Male'
        = f.radio_button :gender_eq, 'female'
        = label_tag :gender_eq, 'Female'
        = f.radio_button :gender_eq, 'NA'
        = label_tag :gender_eq, 'nvm'
    .form-group.line
      = f.label :age, 'Age: ', class: 'col-sm-2 control-label margin_label'
      .col-sm-2
        = f.number_field :agemax_gteq, class: 'form-control'
      .col-sm-2
        = f.number_field :agemin_lteq, class: 'form-control'
    .form-group.line
      = f.label :location_cont, 'Location: ', class: 'col-sm-2 control-label margin_label'
      .col-sm-10
        = f.search_field :location_cont, class: 'form-control'
    = f.fields_for :tags do |builder|
      = render 'tag_fields', f: f
      = link_to_add_fields 'add tag', f, :tags
    / %button{:type => "button", :class => 'add_fields'} +
    = f.submit
.sub_header
  All events
  = @events.count
- @events.each do |e|
  .event_header
    = link_to e.name, event_path(e)
  .event_el
    .wrapper_1
      .auth_img
        = image_tag(e.owners.first.avatar.url(:thumb))
      .wrapper_2
        .event_desc
          = e.description
        .wrapper_3
          .event_date
            = e.date
            = e.time.strftime("%H:%M")
          .event_adr
            location is here
          .event_tags
            - e.tags.each do |t|
              = t.name
    .event_img
      = image_tag(e.photo.url(:thumb))
.pagin_box
  = link_to "Add new event", new_event_path, class: "btn btn-confirm"
.pagin_box
  = paginate @events
.divider_f