.user_avatar
  = image_tag(@event.owners.first.avatar.url(:thumb))
  = image_tag(@event.photo.url(:thumb))
.sub_header
  = @event.name
.user_info
  .col-1
    Date:
  .col-2
    = @event.date
  .col-1
    Time:
  .col-2
    = @event.time
  .col-1
    Gender:
  .col-2
    = @event.gender
  .col-1
    Number:
  .col-2
    = number(@event.number)
  .col-1
    Age:
  .col-2
    = age_range(@event.agemin, @event.agemax)
  .col-1
    Description:
  .col-2
    = @event.description
  .col-1
    Tags:
  .col-2
    = tags_list(@event.tags)
- if !current_user.nil? && current_user.events.include?(@event)
  = link_to "unfollow", unfollow_event_path(@event), class: "btn btn-confirm"
- else
  = link_to "join", join_event_path(@event), class: "btn btn-confirm"
= link_to "Edit", edit_event_path, class: "btn btn-confirm"
= link_to "Delete", @event, method: :delete, class: "btn btn-confirm"
/ Set height and width with CSS
#googleMap{:style => "height:600px;width:100%;"}
/ Add Google Maps

:javascript
  var map;
  function initMap() {
    var myCenter = {lat: #{@event.latitude}, lng: #{@event.longitude}};
    map = new google.maps.Map(document.getElementById('googleMap'), {
      center: myCenter,
      zoom: 12
    });

    var marker = new google.maps.Marker({
      position: myCenter,
      map: map,
      title: 'Hello World!'
    });
  }
%script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyCg3tpHZzNzF1JWKOruUBy3PrOksKDRvII&callback=initMap"}

= commontator_thread(@event)