%h1= @event.name
%br
  = if current_user.events.include?(@event) then                              |
    link_to "unfollow", unfollow_event_path(@event), class: "btn btn-primary" |
    else                                                                      |
    link_to "join", join_event_path(@event), class: "btn btn-primary"         |
    end                                                                       |
  %br
    %br
      = image_tag(@event.photo.url(:thumb))
      %br
        %table
          %tr
            %td Date:
            %td= @event.date
          %tr
            %td Time:
            %td= @event.time
          %tr
            %td Type:
            %td
          %tr
            %td Description:
            %td= @event.description
          %tr
            %td Gender:
            %td= @event.gender
          %tr
            %td Number:
            %td= @event.number
          %tr
            %td Age:
            %td
              = @event.agemin
              \- #{@event.agemax}
          %tr
            %td= link_to "Edit", edit_event_path, class: "btn btn-primary"
            %td= link_to "Delete", @event, method: :delete, class: "btn btn-primary"
/ Set height and width with CSS
#googleMap{:style => "height:400px;width:40%;"}
/ Add Google Maps
%script{:src => "http://maps.googleapis.com/maps/api/js"}
:javascript
  var myCenter = new google.maps.LatLng(#{@event.latitude}, #{@event.longitude});
  
  function initialize() {
  var mapProp = {
  center:myCenter,
  zoom:12,
  scrollwheel:true,
  draggable:true,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  
  var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
  
  var marker = new google.maps.Marker({
  position:myCenter,
  });
  
  marker.setMap(map);
  }
  
  google.maps.event.addDomListener(window, 'load', initialize);
= commontator_thread(@event)